body {
  font-family: "Open Sans Condensed";
  background-color: #202020;
  padding: 20px 60px;
}
:root {
  --color-primary: #202020;
  --color-secondary: #ffdf6c;
  --color-secondary-lighter: #f0dea0;
}
